.heading {
    font-size: 65px;  
    line-height: 74px;
    font-weight: 700;
    color: #01996D;    
  }
  
.text {
    font-size: 20px;  
    line-height: 32px;
    color: #484848;
}

.number + .subheading {
    color: plum;
}

.button {
    display: block;
    font-size: 20px;
    line-height: 25px;
    color: #fff;
    text-decoration: none;
    width: 227px;
    height: 65px;
    text-align: center;
    border-radius: 4px;
    background-color: #01996D;
}